# importing needful libraries

In [2]:
import pandas as pd

In [4]:
customer_feedback_df = pd.read_csv('customer_feedback.csv')
product_catalog_df = pd.read_csv('product_catalog.csv')
sales_data_df = pd.read_csv('sales_data.csv')
search_trends_df = pd.read_csv('search_trends.csv')

# EDA

In [5]:
customer_feedback_df.head()

,productId,commentText,rating,reviewerName,location,date
0,P1001,"Honestly, I found this tank top to be uncomfor...",2.0,Angelica Littel Sr.,North Celestine,2024-02-18
1,P1001,sizing and the material felt cheap..,4.0,Ronald Fay,Halvorsonboro,2023-12-01
2,P1001,delivery was late.. ü§∑‚Äç‚ôÇÔ∏èüî•,5.0,Dr. Lloyd Smitham,New Ciara,2024-10-28
3,P1001,"From my experience, the tank top was perfect. ...",4.0,Christopher Hartmann,North Ally,2024-04-09
4,P1001,The tank top is stylish. Goes well with everyt...,4.0,Jerry Bergstrom,Port Nikitaborough,2024-09-13

In [6]:
product_catalog_df.head()

,productId,title,description,category,modifiers,keywords,releaseDate
0,P1001,Solid Denim Tank Top,With influences of tank top combining solid pe...,tank top,"solid, denim","loose, white, tank top",2024-08-05
1,P1002,Sleeveless Plaid Trench Coat,For fans of trench coat combining sleeveless m...,trench coat,"sleeveless, plaid","white, winter, trench coat",2023-09-03
2,P1003,Wool Printed Sandals,Meticulously crafted sandals combining wool st...,sandals,"wool, printed","wool, olive, sandals",2023-11-22
3,P1004,Fitted Women Romper,Inspired by romper combining fitted performanc...,romper,"fitted, women","sleeveless, striped, romper",2023-02-10
4,P1005,Loose Floral Sneakers,Made to celebrate sneakers combining loose ref...,sneakers,"loose, floral","pumps, striped, sneakers",2024-04-28

In [7]:
sales_data_df.head()

  productId  quantitySold   timestamp
0     P1001            15  2023-10-15
1     P1001            25  2024-03-03
2     P1001            26  2023-07-26
3     P1001            22  2023-09-08
4     P1001            16  2023-10-08

In [8]:
search_trends_df.head()

                       query  frequency   timestamp
0               men tank top         96  2023-08-12
1                   tank top         70  2024-05-22
2               men tank top        104  2022-09-15
3  women olive navy tank top         52  2023-10-13
4              bright yellow         56  2024-12-02